<div class="animated fadeIn d-flex justify-content-center align-items-center w-100 h-100 error-container mt-5">
  <div class="col-xl-6 col-md-10 col-12">
      <div class="card bg-primary border-0 box-shadow rounded-0">
          <div class="card-header bg-danger d-flex justify-content-center align-items-center border-0 box-shadow">
              <i class="fa fa-exclamation-circle text-white" aria-hidden="true"></i>
          </div>
          <div class="card-body text-center">

              <h6 class="card-title text-white">{{mensaje}}</h6>
              <button class="btn btn-secondary" (click)="recargar()">
                  <i class="fa fa-repeat"></i> Reintentar</button>
          </div>
      </div>
  </div>
</div>
