<app-main-container (recargarChange)="reload()"
  [col]="'col-md-8'"
  [icon]="'bx bxs-' + (this.banderaModifica ? 'edit' : 'add-to-queue')"
  [titulo]="(this.banderaModifica ? 'Modificar' : 'Nueva') +  this.titulo"
  [descripcion]="(this.banderaModifica ? 'Modifica un' : 'Resgistrar nueva') +  this.titulo">

  <form  *ngIf="forma" autocomplete="off"  [formGroup]="this.forma" (ngSubmit)="this.validarForma()">
    <div class="container">

      <div class="text-center d-grid gap-2 d-sm-block mt-3">
        <button  type="submit" class="btn btn-material btn-primary me-md-3"><i class="bx bx-save"></i> {{ btnText }}</button>
        <button  (click)="cancelar()" type="button" class="btn btn-material btn-secondary"><i class="bx bx-block"></i> Cancelar</button>
      </div>

    </div>
  </form>
</app-main-container>
