<app-main-container (recargarChange)="reload()"
  [col]="'col-md-8'"
  [icon]="'bx bxs-' + (this.banderaModifica ? 'edit' : 'add-to-queue')"
  [titulo]="(this.banderaModifica ? 'Modificar' : 'Nuevo') + ' Marcas'"
  [descripcion]="(this.banderaModifica ? 'Modifica un' : 'Resgistrar nuevo') + ' Marcas en el Sistema'">

  <!-- <pre>{{this.forma.value | json}}</pre> -->

  <form [formGroup]="this.forma" (ngSubmit)="this.validarForma()">
    <div class="col py-3">

      <div class="form-floating mb-3 position-relative">
        <input type="text" class="form-control" placeholder="Escriba un tipo"
        formControlName="nombre"
        [class.is-invalid] ="f['nombre'].invalid && f['nombre'].touched"
        [class.is-valid] ="f['nombre'].valid && f['nombre'].touched">
        <label>Nombre</label>
        <div class="invalid-feedback">*Requerido</div>
      </div>
      <div class="form-floating mb-3 position-relative">
        <input type="text" class="form-control" placeholder="Escriba un tipo"
        formControlName="descripcion"
        [class.is-invalid] ="f['descripcion'].invalid && f['descripcion'].touched"
        [class.is-valid] ="f['descripcion'].valid && f['descripcion'].touched">
        <label>Descripcion</label>
        <div class="invalid-feedback">*Requerido</div>
      </div>

    </div>

    <div class="text-center d-grid gap-2 d-sm-block">
        <button type="submit" class="btn btn-material btn-primary me-md-3"><i class="bx bx-save"></i> Guardar</button>
        <button (click)="this.cancelar()" type="button" class="btn btn-material btn-secondary"><i class="bx bx-block"></i> Cancelar</button>
    </div>
  </form>
</app-main-container>
